<div>
    <a routerLink="/twobuttoncounter">Increment and Decrement Counter &gt;&gt;&gt;</a>
</div>
<h2>Simple Counter</h2>
<p>This simple counter which has only one one button.</p>
<p>We have one observable associated to any click events for this button.</p>
<p class="last-paragraph">Simply click the button and you will see the counter increment!</p>

<div class="simple-container">
  <button class="counter-btn" mat-raised-button color="primary">Increment</button>
  <div class="counter-field">{{ counter }}</div>
</div>
